#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h3{
  color: brown;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > input {
  font-size: larger;
}

form > label{
  text-transform: uppercase;
}

form > p{
  height: 15px;
  font-size: 15px;
  color: red;
}

.loginBtn{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: rgba(128, 128, 128, 0.50);
}

.registerBtn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: rgba(128, 128, 128, 0.50);
}

.authSelect{
  background-color: bisque;
  color: black;
}