#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h3{
  color: brown;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > input {
  font-size: larger;
}

form > label{
  text-transform: uppercase;
}

form > p{
  height: 15px;
  font-size: 15px;
  color: red;
}

.loginBtn{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: rgba(128, 128, 128, 0.50);
}

.registerBtn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: rgba(128, 128, 128, 0.50);
}

.authSelect{
  background-color: bisque;
  color: black;
}

.tasksArea{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

ul {
  height: 50vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: start;

  overflow-y: auto;
}

.taskTemplate{
  height: 50px;
  width: 90%;

  margin: 0;
  display: grid;
  grid-template-columns: 10% 50% 20% 20%;
  align-items: center;

  border: 1px solid black;
  border-radius: 5px;

}

.taskTemplate > input{
  width: 1.4em;
  height: 1.4em;
}

.taskTemplate > button{
  font-size: small;
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail{
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.detail > p, .detail > h4{
  font-size: 0.8em;
  margin: 0;
}